{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleAttributePerLine": true,
  "printWidth": 70,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
