@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply max-w-full bg-black bg-cover font-mono text-white;
}

::selection {
  @apply bg-turqoise text-pink;
}

p {
  @apply my-4 text-base leading-loose tracking-tight text-white/90 opacity-90;
}

h1 {
  @apply text-xl leading-tight md:text-2xl lg:text-4xl;
}

h2 {
  @apply mb-4 font-space text-[28px] font-bold leading-tight lg:text-[40px];
}

h3 {
  @apply mb-4 font-space font-bold leading-relaxed lg:text-[28px];
}

h4 {
  @apply mb-4 font-space md:text-xl;
}

h5 {
  @apply mb-4 text-lg;
}

section,
aside {
  @apply my-16;
}

section {
  @apply max-w-full;
}

.main-breaks {
  @apply max-w-[90%] md:max-w-[80%] lg:max-w-[85%] xl:max-w-[75%];
}
/* Pagination Styling */

.swiper-pagination {
  @apply absolute left-[98%] top-24 text-white md:left-1/2 md:top-16;
}

.swiper-pagination-bullet {
  @apply relative z-50 mb-2 block h-[6px] w-[6px] bg-gray/50 opacity-100;
}

.swiper-pagination-bullet-active {
  @apply bg-pink;
}

/* Hubspot Form Styles  */

.legal-consent-container p {
  @apply text-xs text-black;
}

.hs-form-field {
  @apply my-4 text-black;
}

.hs-form-field input,
.hs-form-field select {
  @apply mt-4 w-full rounded-sm border-[1px] border-gray/10 p-2 text-black;
}

.hs-main-font-element h1 {
  @apply mb-12 text-2xl text-black;
}

.is-placeholder {
  @apply text-black;
}

.hs-error-msg {
  @apply text-xs !text-pink;
}

.hs-form-booleancheckbox-display input {
  @apply mb-0 inline w-4 p-0;
}

.hs-form-booleancheckbox-display {
  @apply flex items-baseline;
}

.hs-button {
  @apply bg-pink p-2 hover:cursor-pointer;
}

/* Loading Animation */

#loading {
  @apply fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black;
}

.loading__dot {
  @apply mx-2 h-[5px] w-[5px] bg-white opacity-0;
  animation: dot-animation 1.5s infinite;
}

.loading__dot:nth-child(2) {
  animation-delay: 0.3s;
}

.loading__dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-animation {
  0%,
  80%,
  100% {
    @apply opacity-0;
  }
  40% {
    @apply opacity-100;
  }
}

/* Scrollbar */

/* root::-webkit-scrollbar {
  display: none;
}

body:hover::-webkit-scrollbar {
  width: 10px;
  display: block;
  position: absolute;
}

body::-webkit-scrollbar-track {
  width: 10px;
  @apply bg-black;
}

body::-webkit-scrollbar-thumb {
  @apply bg-pink;
} */
