---
import Layout from '../layouts/layout.astro';
---

<Layout title="disclosures">
  <main class="mx-auto mt-24 md:w-[4/5] xl:w-3/5">
    <h1>Legal Disclosures</h1>

    <h2>Registered Office</h2>
    <p>
      Web 3.0 Technologies Foundation<br />
       Baarerstrasse 14<br />
       6300 Zug<br />
       Switzerland<br />
       Contact: <a href="mailto:hello@web3.foundation"
        >hello@web3.foundation</a
      >
    </p>

    <h2>Commercial Register Entry</h2>
    <p>
      The Canton of Zug, registered company name: Web 3.0 Technologies
      Stiftung, registration no.: CHE-322.596.347
    </p>

    <h2>VAT No.</h2>
    <p>CHE-322.596.347</p>

    <h2>Legal Disclaimer</h2>
    <p>
      Web 3.0 Technologies Foundation assumes no liability for the
      correctness, accuracy, timeliness, reliability, and completeness
      of the information. Any reliance you place on such information is
      therefore strictly at your own risk. Liability claims against Web
      3.0 Technologies Foundation for material or immaterial damage
      resulting from access to, use or non-use of the published
      information, misuse of the connection or technical faults are
      excluded to the extent permissible by mandatory law. Web 3.0
      Technologies Foundation expressly reserves the right to change,
      supplement or delete parts of the pages or the entire offer
      without prior notice or to discontinue publication temporarily or
      permanently.
    </p>

    <h2>Liability for Links</h2>
    <p>
      Our website may contain links to third-party websites or
      resources. We provide these links solely for your convenience and
      do not endorse the content, products, or services offered by these
      third parties. We do not control these third-party websites or
      resources and are not responsible for their availability, content,
      or accuracy. We also do not guarantee the security of any
      information that you may provide to these third parties. You
      access and use these third-party websites and resources at your
      own risk. Web 3.0 Technologies Foundation shall not be liable for
      any damages or losses arising from your use of these third-party
      websites or resources.
    </p>

    <h2>Copyrights</h2>
    <p>
      The copyright and all other rights to content, images, photos, or
      other files on the website belong exclusively to Web 3.0
      Technologies Foundation or the specifically named rights holders.
      The written permission of the copyright holders must be obtained
      in advance for the reproduction of any elements.
    </p>
  </main>
</Layout>
